*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 html{
  --font-family: 'Seasons';
}
:root{
  --main-color:rgb(233, 207, 124);
  --secondry-color:rgba(233, 208, 124, 0.589);
   --accent-color: #6f4f28;    
  --text-color: #333333;      
  --bg-color: #f9f6f1; 
}
.heading-top{
position:fixed;
z-index: 999;
background-color:rgba(255, 255, 255, 0);
padding:0 20px;
width: 100%;
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.heading-top.scrolled {
  background-color: var(--main-color); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}
.heading-top.scrolled li a{
  color: var(--accent-color)!important;
}

.heading-top.scrolled li a:hover::after{
  background-color: var(--accent-color)!important;
}
.header-inner a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.logo img{
  max-height:90px;
  max-width:90px;
 }
.Header-list {
  display: flex;
  list-style: none;
 
  gap: 1.5rem;
}
.Header-list li a {
  position: relative;
  text-decoration:none;
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--main-color);
}

.Header-list li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left:16%;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  transition: width 0.5s ease;
}

.Header-list li a:hover::after {
  width: 70%;
}

.hamburger{
  display:none;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:none;
  width:30px;
  height:30px;
  background-color:var(--secondry-color);
  border-style: none;
}
.hamburger .bar{
  width:100%;
  height:4px;
  border-radius: 4px;
 background-color: var(--accent-color);
 transition: all 0.1s ease-in-out;
}
.hamburger.active .top {
  transform: rotate(40deg) translateY(11px);
}

.hamburger.active .middle {
  opacity: 0;
}

.hamburger.active .bottom {
  transform: rotate(-40deg) translateY(-11px);
}
@media(max-width:768px){

  .hamburger{
    display:flex;
  }
  .heading-top{
    background-color:var(--main-color);

  }
  .Header-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: rgba(140, 88, 4, 0.867);
    padding: 1rem;
    
    
  }
  .logo img{
    max-width: 60px;
    max-height: 60px;
  }
   .Header-list.active {
    display: flex;
  }
  .Header-list.active li a:hover {
    color:var(--main-color);
  }
.Header-list.active li a::after{
    background-color:var(--main-color) !important;
  }

  .heading-top.scrolled {
  background-color: var(--main-color); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}
.heading-top.scrolled li a{
  color: var(--main-color)!important;
}
}